
  <h1>CHAT</h1>

  <form onsubmit="return addMessage(this)">
  <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre"> 
  <input type="text" id="mensaje" name="mensaje" placeholder="escribe tu mensaje">
  <button class="btn btn-primary" id="boton">Enviar</button>
  </form>  
  <div id="messages"></div>


 