<h1 style="color: blue;">Ingresar Datos</h1>
<br>

<form action="./productos" method="post" name="personas" >

    <div class="form-group">
        <labe for="nombre">Producto</labe>
        <input type="text" placeholder="Ingresar un producto" id="titulo" name="titulo" class="form-control">
    </div>

    <div class="form-group">
        <label for="apellido">Precio</label>
        <input type="text" placeholder="Ingresar Precio" id="precio" name="precio" class="form-control">
    </div>

    <div class="form-group">
        <labe for="edad">Imagen</labe>
        <input type="text" placeholder="Subir Imagen" id="imagen" name="imagen" class="form-control">
    </div>
    <button>Enviar</button>
</form>


   

   